@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Train One', cursive;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
}
nav {
    height: 60px;
    width: 100;
    background-image: linear-gradient(130deg,#f1c40f,#d35400);
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h2 {
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid whitesmoke;
    padding: 5px 12px;
}
nav h2 a{color: white;
    text-decoration: white;
}
ul.set {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
ul.set{
    display: flex;
}
ul.set li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0% 40px;
    transition: 2s;
    position: relative;
}
ul.set a{
    color: whitesmoke;
    text-decoration: whitesmoke;
}
ul.set li:hover{
    background: #3dc2a7;
}
.slide{
    width: 650px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 5px (130deg,#3dc2a7,#f39c12);
    overflow: hidden;
    border: 10px solid (130deg,#3dc2a7,#f39c12);
    border-radius: 10px;
}
.slide figure img{
    position: relative;
    width: 100%;
    margin: 0px;
    left: 0px;
    animation: krutom 20s infinite linear;
}
@keyframes krutom{
    0%{left: 0%;}
    15%{left: 0%;}
    20%{left: -100%;}
    35%{left: -100%;}
    40%{left: -2000%;}
    60%{left: -3000%;}
    80%{left: -300%;}
    85%{left: -400%;}
    100%{left: -400%;}
}